body{
  background-color: #f35958;
}
.header__container {


  height: 5vh;
  width: 100%;
  display: flex;
  
  justify-content: center;
  box-shadow: 2px 1px 20px #000;
  align-items: center;
  position: fixed;
  top: 0;

}

.header__box {
  
  
  height: 5vh;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box__img,
.box__menu {
  height: 5vh;
  width: 45%;

  display: flex;
  align-items: center;
}

.box__img {
  justify-content: start;
}

.menu,
.link {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.link {
  gap: 25px;
}

.container {
  
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
 
  justify-content: center;
  

  
}
